.assignment{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 15px 0 0 0 ;
  flex-direction: column;
}

.assignment__title{
  font-size: 20px;
  font-weight: 700;
  color: #221c2a;
}

.assignment-entry{

}

.assignment-entry__input{
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #bebebe;
    border-radius: 8px;
    background: #FFFFFF;
    color: #9b96a6;
    margin: 0 12px 0 0;
    
}

.assignment-entry__btn{
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid #9b96a6;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background: #7e66cd;
}