.header{
    background: #ffffff;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}

.header__container{ 
    max-width: 1024px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 600px;
}

.header__logo{
    font-size: 22px;
    font-weight: 600;
    margin: 28px 0 20px;
}