.navigate{}

.menu{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu__list{
    padding: 10px 15px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.menu__list--active{
    padding: 10px 15px;
    border: 1px solid rgba(30, 10, 60, 0.12);
    border-radius: 8px;
    background: #efeaff;
    border-color: #cfc6f5;
    color: #735cc6;
}