.navigate{}

.menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu__list{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.menu__list:hover{

}

.menu__list:active{
    
}